<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bacs Debit Grabem Purchase</title>
    <link rel="stylesheet" href="styles.css" title="" type="text/css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="panel">
          <h1>Grabem Bacs Debit Subscription</h1>
          <form action="redirect" method="POST">
          <img
          src="images/grabem_logo.jpg"
          />
          <button type="submit">Start Your Subscription</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
